[[source]]

verify_ssl = true
url = 'https://pypi.python.org/simple'
name = 'printcolor'

[requires]

python_version = '3.7'

[packages]

colorama = '==0.3.9'

[dev-packages]

pytest = '*'
